<div class="wrapper">
  <div class="logo">
    <img src="../assets/images/logo.png" alt="">
  </div>
  <div class="text-center mt-4 name">
    <p>SammyShop</p>
  </div>
  <form [formGroup]="formularioRegistro" class="p-3 mt-3" (ngSubmit)="registrar()">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" formControlName="nombre" name="nombre" id="nombre" placeholder="Nombre">
    </div>
    <div class="form-field d-flex align-items-center">
      <i class="fa-solid fa-envelope"></i>
      <input type="text" formControlName="correoElectronico" name="correoElectronico" id="correoElectronico"
        placeholder="Correo Electrónico">
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" formControlName="contrasena" name="contrasena" id="contrasena" placeholder="Contraseña">
    </div>
    <div class="form-field d-flex align-items-center">
      <i class="fa-solid fa-phone"></i>
      <input type="text" formControlName="numerotelefono" name="numerotelefono" id="numerotelefono"
        placeholder="Numero Teléfono">
    </div>
    <button type="submit" class="btn mt-3" [disabled]="formularioRegistro.invalid">Registrarse</button>
  </form>
  <div class="text-center fs-6">
    <p>¿Ya Tienes Cuenta? </p><a routerLink="/login">Inicia Sesión</a>
  </div>
</div>