.contador {
  color: red;
  text-align: center;
  font-weight: bold;
  margin-top: 6px;
  margin-left: -25px;
  width: 30px;
  height: 30px;
  border: 2px solid #FFFFFF;
  border-radius: 100%;
  background-color: #FFFFFF;
}