<ng-template #texto>
  <div class="container text-lg-center">
    <h2>No hay productos</h2>
  </div>
</ng-template>


<div *ngIf="products$ | async as productos; else texto">
  <section class="parent">
    <div class="wrapper float" *ngFor="let item of productos">
      <div class="product-img">
        <img [src]="getProductImage(item.producto.clave)" height="420" width="327">
      </div>
      <div class="product-info">
        <div class="product-text">
          <h1>{{item.producto.nombre}}</h1>
          <p>Descripción: {{item.producto.descripcion}} <br>Marca: {{item.producto.marca}} </p>
        </div>
        <div class="product-price-btn">
          <p><span>{{item.producto.precio | currency: 'MXN' }}</span></p>
          <button type="button" (click)="addToCart(item.producto); showToast(item.producto.nombre)">Agregar al
            Carrito</button>
        </div>
      </div>
    </div>
  </section>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>