<div class="wrapper">
  <div class="logo">
    <img src="../assets/images/logo.png" alt="">
  </div>
  <div class="text-center mt-4 name">
    <p>SammyShop</p>
  </div>
  <form [formGroup]="formularioLogin" class="p-3 mt-3" (ngSubmit)="login()">
    <div class="form-field d-flex align-items-center">
      <i class="fa-solid fa-envelope"></i>
      <input type="email" formControlName="correoElectronico" name="correoElectronico" id="correoElectronico"
        placeholder="Correo Electrónico">
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" formControlName="contrasena" name="contrasena" id="contrasena" placeholder="Contraseña">
    </div>
    <button type="submit" class="btn mt-3" [disabled]="formularioLogin.invalid">Iniciar Sesión</button>
  </form>
  <div class="text-center fs-6">
    <p>¿No Tienes Cuenta? </p><a routerLink="/registro">Regístrate</a>
  </div>
</div>