<!-- <div class="container mt-4">
  <carousel [isAnimated]="true" class="text-lg-center carousel-dark">
    <slide>
      <img
        src="https://www.optimum.com/mobile/sites/default/files/product/apple-iphone15promax-naturaltitanium-side.png"
        alt="first slide" style="width: 30%; aspect-ratio: 3/2; object-fit: contain; mix-blend-mode: color-burn;">
      <p><strong>Descripción: </strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum in corrupti
        culpa dicta libero.</p>
      <p><strong>Precio: </strong> $12.00</p>
      <br>
    </slide>
    <slide>
      <img
        src="https://i5.walmartimages.com.mx/mg/gm/3pp/asr/a7e26edf-2362-4325-81df-cbcc5c2000bb.fd4392ba63e96c1c40b093aae4386a41.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF"
        alt="second slide" style="width: 30%; aspect-ratio: 3/2; object-fit: contain; mix-blend-mode: color-burn;">
      <p><strong>Descripción: </strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum in corrupti
        culpa dicta libero.</p>
      <p><strong>Precio: </strong> $12.00</p>
      <br>
    </slide>
    <slide>
      <img
        src="https://i5.walmartimages.com.mx/gr/images/product-images/img_large/00750100064113L.jpg?odnHeight=612&odnWidth=612&odnBg=FFFFFF"
        alt="third slide" style="width: 30%; aspect-ratio: 3/2; object-fit: contain; mix-blend-mode: color-burn;">
      <p><strong>Descripción: </strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum in corrupti
        culpa dicta libero.</p>
      <p><strong>Precio: </strong> $12.00</p>
      <br>
    </slide>
  </carousel>
</div> -->

<div class="container mt-4">
  <app-producto></app-producto>
</div>