/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

// Importar Fuente Poopins de Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import 'ngx-toastr/toastr-bs5-alert';

html,
body {
  height: 100%;
}

body {
  // background-color: rgba($color: #212529, $alpha: 1.0);
  margin: 0;
  font-family: 'Poppins', sans-serif;
}